<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d11507;">
        
        <div class="container-fluid">
                                    
            <a class="navbar-brand" href="#">
                <div class="d-flex col-3 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img src="../img/logoweb.png" class="card-img border-0">                        
                </div>
            </a>
                                                                        
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                
                    <ul class="navbar-nav">
                                                
                            <li class="nav-item p-1 p-1 m-1 m-1">                             
                                <a class="nav-link btn btn-outline-info fs-3 fw-bold font-monospace" 
                                    href="#"
                                    role="button"
                                    >
                                    Nuevo
                                </a>
                            </li>

                            <li class="nav-item p-1 p-1 m-1 m-1">                                    
                                <a class="nav-link btn btn-info btn-block fs-3 fw-italic font-monospace" 
                                href="#"
                                role="button"
                                >
                                Cerrar
                            </a>
                            </li> 

                    
                                        
                    </ul>
                
            </div>
                                                                                
        </div> 

    </nav>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>