<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form...</title>
</head>
<body>
    <div>
        <h2>Process 
            <img src="../img/signo.png" alt="" width="20px" height="20px">
            Form...
        </h2> 
    </div>
    <di>
        <label for="description">Modification date</label>
    </di>
    <div>        
        <textarea name="description" id="" cols="30" rows="2">05/05/2022</textarea>
    </div>
    <div>
        <label for="description1">Version</label>
    </div>
    <div>       
        <textarea name="description1" id="" cols="30" rows="2">1.5</textarea>
    </div>
    <div>
        <label for="description2">Description</label>
    </div>
    <div>        
        <textarea name="description2" id="" cols="30" rows="2"></textarea>
    </div>

    <div>
        <label for="myfile">Select a file:</label>
        <input type="file" id="myfile" name="myfile">
    </div>
    <div> 
        <button><a href="#"><h3>Save</h3></a></button>
    </div>    
</body>
</html>