<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>
<body>
    <div>
        <h2>Document Control and Records 
            <img src="../img/signo.png" alt="" width="25px" height="25px">
            Forms
        </h2> 
    </div> 
    <di>
        <label for="description">search for ...</label>
    </di>
    <div>        
        <textarea name="description" id="" cols="30" rows="2"></textarea>
    </div>
    <div> 
        <button><a href="#"><h3>New</h3></a></button>
    </div>
    <nav>
        <ul>
            <li>
                <img src="../img/folder.png" alt="P001-01 ABC" width="30px" height="30px" >
                <a href="#">Folder 1 ABC</a>
            </li>
            <li>
                <img src="../img/folder.png" alt="P001-02 ABC" width="30px" height="30px" >
                <a href="#">Folder 2 ABC</a>
            </li>
            <li>
                <img src="../img/word.png" alt="Procedures" width="30px" height="30px" >
                <a href="form.html">Form 3 ABC</a>
            </li>
            <li>
                <img src="../img/excel.png" alt="Document" width="30px" height="30px" >
                <a href="form.html">Form Schedule</a>
            </li>
            <li>
                <img src="../img/pdf.png" alt="Oficio" width="30px" height="30px" >
                <a href="form.html">Form 4</a>
            </li>
                                        

        </ul>       
    </nav>           
</body>
</html>