<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process</title>
    <style>
        nav ul { list-style-type: none; }
        a:link {text-decoration: none;}
        a:visited {text-decoration: none;}
        a:hover {text-decoration: underline;}
        a:active {text-decoration: underline;}
    </style>
</head>
<body>
    <div>
        <h2>Document Control and Records 
            <img src="../img/signo.png" alt="" width="20px" height="20px">
            Process
        </h2> 
    </div>
    <div>
        <label for="description">Description</label>
    </div>
    <div>        
        <textarea name="description" id="" cols="30" rows="2"></textarea>
    </div>
    <div> 
        <button><a href="#"><h3>Add Process</h3></a></button>
    </div>    
    <nav>
        <ul>
            <li>
                <img src="../img/appico.png" alt="Forms" width="30px" height="30px" >
                <spam>Process Form 1 ABC</spam>
                <img src="../img/borrar.png" alt="Forms" width="15px" height="15px" >
                
            </li>
            <li>
                <img src="../img/appico.png" alt="Forms" width="30px" height="30px" >
                <spam>Process Form 2 ABC</spam>
                <img src="../img/borrar.png" alt="Obsolete" width="15px" height="15px" >              
            </li>
            <li>
                <img src="../img/appico.png" alt="Forms" width="30px" height="30px" >
                <spam>Process Form 3 ABC</spam>
                <img src="../img/borrar.png" alt="Procedures" width="15px" height="15px" >                
            </li>
            <li>
                <img src="../img/appico.png" alt="Document" width="30px" height="30px" >                
                <spam>Process Schedule</spam>
                <img src="../img/borrar.png" alt="Procedures" width="15px" height="15px" >                
            </li>
            <li>
                <img src="../img/appico.png" alt="Oficio" width="30px" height="30px" >                
                <spam>Process Oficio</spam>
                <img src="../img/borrar.png" alt="Procedures" width="15px" height="15px" >                
            </li>
        </ul>       
    </nav>

</body>
</html>